@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}
@using Project.Model
@model List<Attendance>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="content">
     <a asp-controller="Home" asp-action="IndexTeacher" > Home </a>
     <span> &gt; </span> 
     <a asp-controller="Grade" asp-action="Index" > List Class </a>
     <span> &gt; </span> 
     <a href="#" > Check Attendence </a>

    <h1>Check Attendence</h1>

    <table>
        <thead>
            <tr>
                <td>Index</td>
                <td>Member</td>
                <td>Code</td>
                <td>Name</td>
                <td>Status</td>
            </tr>
        </thead>
         
        @foreach (Attendance a in Model)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.RollNumber</td>
                <td>@a.Code</td>
                <td>@a.Name </td>
                @if (@a.Status == true)
                {
                    <td class="attendend">Attendend</td>
                }
                else
                {
                <td class="absent"> Absent </td>
                }
            </tr>

        }
    </table>
    <a class="edit" asp-controller="Attendence" asp-action="Edit" asp-route-id="@Model[0].ClassId" >Edit</a>
</div>
</body>
</html>




 
