@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using Project.Modelss
@model dynamic

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //ViewBag.userName = @ViewBag.userName;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tag{
    color: white;
    padding: 3px 8px;
    border-radius: 6px;
}
 .tag-student{
    background-color: green;
  
}
.tag-teacher{
    background-color: orange;
}
.input-search{
    height: 30px;
    width: 300px;
    padding: 0 1rem; 
    margin-right:1rem;
}
.input-submit{
    border-radius: 8px;
    cursor: pointer;
}
.input-submit:hover{
   background-color:#337ab7;
}
.search-form{
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
    margin-right: .5rem;
}
.create-account{
    background-color:#337ab7;
    color:white;
    padding: 1rem;
    margin:.5rem;
    font-weight:700;
    line-height: 60px;
    border-radius:8px;
}
.create-account:hover{
    background-color:#339ab3;

}
.head-content{
    display:flex;
    justify-content:space-between;
    align-items: baseline;
    margin-bottom:1rem;
}
</style>
<head>
     <script defer src="/your-path-to-fontawesome/js/v4-shims.js"></script>
     <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
</head>


 <a class="create-account" asp-controller="Manager" asp-action="Add">Create Account</a>
 <a class="create-account" asp-controller="Manager" asp-action="AddGrade">Create Grade</a>


<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Account')" id="defaultOpen">Manager Account</button>
  <button class="tablinks" onclick="openCity(event, 'Grade')">Manager Grade</button>
  <button class="tablinks" onclick="openCity(event, 'Attendance')">Manager Attendance</button>
</div>
<div id="Account" class="tabcontent" >
  @*Code thêm sửa xóa cho phần tài khoản, cấp quyền cho tài khoản*@
  <div class="head-content">
      <h1>List Account</h1>

      <label class="tag tag-student"> Student </label><span>: @Model.QuantityStudent  </span> 
      <label class="tag tag-teacher"> Teacher</label> <span>: @Model.QuantityTeacher</span>


      <form asp-controller="Home" asp-action="IndexAdmin">
        <div class="search-form">
            <input class="input-search" type="text" placeholder="Search" name="searchText" />    
            <input class="input-submit" type="submit" value=" Search "/> 
        </div>
     </form>
  </div>
  <hr />
  <table>
      <thead>
          <tr>
              <td>User Name </td>
              <td>Password </td>
              <td>Role </td>
              <td> </td>
              <td> </td>

          </tr>
      </thead>
      <tbody>
          @foreach (Account a in Model.Account)
            {
             <tr>
                <td>@a.UserName </td>
                <td> @a.Password</td>
                @if(@a.Role.Name == "Student"){
                        <td style="padding: .5rem" > <span class="tag tag-student">@a.Role.Name </span></td>
                    }
                    else
                    {
                        <td style="padding: .5rem" > <span class="tag tag-teacher"> @a.Role.Name </span> </td>
                    }
              <td>
                  <a asp-controller="Manager" asp-action="Edit" asp-route-username="@a.UserName">Edit</a> 
              </td>
              <td>
                  <a asp-controller="Manager" asp-action="Delete" asp-route-username="@a.UserName">Delete</a>
              </td>
            </tr>
            }
      </tbody>
  </table>
    
</div>

<div id="Grade" class="tabcontent" >
  <h1>List Grade</h1>
    <table>
      <thead>
          <tr>
              <td>Grade Name </td>
              <td>Quantity Student of Grade </td>
          </tr>
      </thead>
      <tbody>
          @foreach (Grade g in Model.Grade)
            {
             <tr>
                <td>@g.ClassName </td>
              @*  @for (int i = 0; i < @ViewBag.QuantityStudentOfEachGrade.Length; i++)
                    {
                        <td>@ViewBag.QuantityStudentOfEachGrade[i]</td>
                    }*@

            </tr>
            }
      </tbody>
  </table> 
</div>



<script>

function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
document.getElementById("defaultOpen").click();

</script>